
@import url("https://fonts.cdnfonts.com/css/amazon-ember");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondojuego{ 
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url(../img/FondoTwitch.png) 0% 0% no-repeat padding-box;
    position: absolute;
}
.fondo{
    top: 0px;
    left: 2px;
    width: 1920px;
    height: 4149px;
    background: transparent url(../img/Path1.png) 0% 0% no-repeat padding-box;
    border: 1px solid #f5f2f2;

}
.buscador{
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    opacity: 1;
    background: transparent url(../img/buscador.png) 0% 0% no-repeat padding-box;
    
}