
@import url("https://fonts.cdnfonts.com/css/amazon-ember");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondojuego{ 
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url(../img/FondoTwitch.png) 0% 0% no-repeat padding-box;
    position: absolute;
}
.fondo{
    top: 0px;
    left: 2px;
    width: 1920px;
    height: 4149px;
    background: transparent url(../img/Path1.png) 0% 0% no-repeat padding-box;
    border: 1px solid #f5f2f2;

}
.buscador{
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    opacity: 1;
    background: transparent url(../img/buscador.png) 0% 0% no-repeat padding-box;
}
.logo{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    background: transparent url(../img/LogoPrime.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.texto1{
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
    text-align: center;
    color: white;
    position: absolute;
    font-size: 60px;
    font-family: "Amazon Ember", Bold;

}
.texto2{
    position: absolute;
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    color: #FFFFFF;
    font-size: 29px;
    text-align: center;
    font-family: "Amazon Ember", Light;
    line-height: 30px;
}
.Sign-up{
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    border-radius: 52px 52px 52px 52px;
    font-size: 40px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #000000;
    text-align: center;
    font-family: "Amazon Ember", Light;
    line-height: 50px;
    cursor: pointer;
}
.login{
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    font-size: 20px;
    font-family: "Amazon Ember", Light;
    text-align: left;
    line-height: 24px;
    border-radius: 52px 52px 52px 52px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #000000;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
