
body{
    background-size: 1920px 1080px, 1920px 4149px;
    margin: 0px;
    width: 100vh;
}

.fondojuego{ 
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: transparent url(../img/FondoTwitch.png) 0% 0% no-repeat padding-box;
    position: absolute;
}
.fondo{
    top: 0px;
    left: 2px;
    width: 1918px;
    height: 4149px;
    background: transparent url(../img/Path1.png) 0% 0% no-repeat padding-box;
    border: 1px solid #050505;
    
}
.buscador{
    position: absolute;
    top: 37px;
    left: 63px;
    width: 36px;
    height: 36px;
    opacity: 1;
    background: transparent url(../img/buscador.png) 0% 0% no-repeat padding-box;
    background-size: cover;
    cursor: pointer;
}
.logo{
    position: absolute;
    top: 227px;
    left: 682px;
    width: 556px;
    height: 313px;
    background: transparent url(../img/LogoPrime.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.texto1{
    top: 517px;
    left: 389px;
    width: 1151px;
    height: 60px;
    text-align: center;
    color: white;
    position: absolute;
    font-size: 60px;
    font-family: "Amazon Ember", Bold;

}
.texto2{
    position: absolute;
    top: 608px;
    left: 380px;
    width: 1160px;
    height: 102px;
    color: #FFFFFF;
    font-size: 29px;
    text-align: center;
    font-family: "Amazon Ember", Light;
    line-height: 30px;
    font-weight: 200;
}

.Sign-up{
    top: 755px;
    left: 730px;
    width: 458px;
    height: 104px;
    border-radius: 52px 52px 52px 52px;
    font-size: 40px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #000000;
    text-align: center;
    font-family: "Amazon Ember", Light;
    line-height: 90px;
    cursor: pointer;
}

.login{
    top: 30px;
    left: 1695px;
    width: 205px;
    height: 54px;
    font-size: 20px;
    font-family: "Amazon Ember", Light;
    line-height: 50px;
    border-radius: 52px 52px 52px 52px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #000000;
    text-align: center;
    cursor: pointer;
    font-weight: 300;
    outline: none;
}

.circuloblue{
    position: absolute;
    background-color: #00a8e1;
    top: 1106px;
    left: 64px;
    width: 1792px;
    height: 567px;
    border-radius: 108px;
}
.textocirculoblue{
    top: 1179px;
    left: 350px;
    width: 1200px;
    color: #FFFFFF;
    height: 60px;
    font-size: 60px;
    text-align: center;
    font-family: "Amazon Ember", Bold;
    position: absolute;
}
.tv1{
    position: absolute;
    background: transparent url(../img/tv.png) 0% 0% no-repeat padding-box;
    top: 1300px;
    left: 850px;
    width: 280px;
    height: 307px;
    opacity: 1;
}
.textoinferior{
    position: absolute;
    top: 1500px;
    left: 200px;
    width: 1495px;
    height: 109px;
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    font-family:  "Amazon Ember", Light;
    line-height: 60px;
    font-weight: 200;
}
.blue2{
    position: absolute;
    background-color: #00a8E1;
    top: 1717px;
    left: 64px;
    width: 1792px;
    height: 724px;
    border-radius: 108px;
}
.textoblue{
    top: 1773px;
    left: 135px;
    width: 1664px;
    height: 60px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-family: "Amazon Ember", Bold;
    position: absolute;
}
.movie1{
    position: absolute;
    top: 1896px;
    left: 477px;
    width: 181px;
    height: 309px;
    background: transparent url(../movie/movie1.png) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}
.movie2{
    top: 1896px;
    left: 670px;
    width: 181px;
    height: 309px;
    position: absolute;
    background: transparent url(../movie/movie2.png) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}
.movie3{
    top: 1896px;
    left: 863px;
    width: 180px;
    height: 309px;
    position: absolute;
    background: transparent url(../movie/movie3.png) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;

}
.movie4{
    top: 1896px;
    left: 1055px;
    width: 181px;
    height: 309px;
    position: absolute;
    background: transparent url(../movie/movie4.png) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;

}
.movie5{
    top: 1896px;
    left: 1248px;
    width: 181px;
    height: 309px;
    position: absolute;
    background: transparent url(../movie/movie5.png) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}
.textomovie{
    position: absolute;
    top: 2286px;
    left: 207px;
    width: 1492px;
    height: 110px;
    color: #FFFFFF;
    font-size: 45px;
    text-align: center;
    font-family:  "Amazon Ember", Light;
    line-height: 60px;
    font-weight: 200;
}

.circulotercero{
    top: 2467px;
    left: 64px;
    width: 1792px;
    height: 567px;
    position: absolute;
    background-color: #00a8e1;
    border-radius: 108px;

}

.tercertexto{
    top: 2510px;
    left: 560px;
    width: 800px;
    height: 60px;
    color: #FFFFFF;
    font-size: 60px;
    text-align: center;
    font-family: "Amazon Ember", Bold;
    position: absolute;
}
.icono{
    top: 2650px;
    left: 876px;
    width: 169px;
    height: 169px;
    position: absolute;
    background: transparent url(../img/icono.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.tex{
    top: 2881px;
    left: 269px;
    width: 1382px;
    height: 88px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    font-family: "Amazon Ember", Bold;
    position: absolute;
    font-weight: 200;
    line-height: 48px;
}
.textofinal{
    top: 3127px;
    left: 418px;
    width: 1118px;
    height: 125px;
    color: #FFFFFF;
    font-size: 125px;
    text-align: center;
    font-family: "Amazon Ember", Bold;
    position: absolute;
    font-weight: 300;
    line-height: 150px;
}
.textofinal2{
    top: 3296px;
    left: 181px;
    width: 1544px;
    height: 99px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    font-family: "Amazon Ember", Bold;
    position: absolute;
    font-weight: 200;
    line-height: 48px;
}
.flecha1{
    top: 3689px;
    left: 305px;
    width: 19px;
    height: 27px;
    position: absolute;
    background: transparent url(../img/Flecha1.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.flecha2{
    top: 3702px;
    left: 1575px;
    width: 18px;
    height: 26px;
    position: absolute;
    transform: scaleX(-1);
    background: transparent url(../img/Flecha1.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.celular{
    top: 3606px;
    left: 386px;
    width: 256px;
    height: 219px;
    position: absolute;
    background: transparent url(../img/celular.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.mac{
    top: 3440px;
    left: 685px;
    width: 584px;
    height: 534px;
    position: absolute;
    background: transparent url(../img/mac.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.portatil{
    top: 3587px;
    left: 1261px;
    width: 271px;
    height: 238px;
    position: absolute;
    background: transparent url(../img/portatil.png) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.terminosycondiciones{
    position: absolute;
    top: 4088px;
    left: 543px;
    width: 831px;
    height: 25px;
    color: #cfccc6;
    font-size: 25px;
    text-align: center;
    font-family: "Amazon Ember", Light;
    position: absolute;
    font-weight: 300;
}
.terminosycondiciones span{
    display: inline-block;
    margin: 0 25px;
}
.terminosycondiciones a {
    color: white;
}





