.fondo1{
    width: 1600px;
    position: absolute;
    height: 1200px;
    background-image: linear-gradient(#FFFFFF 0%, #E6E6E6 , #808080 );

}
.blanco{
    top: 200px;
    left: 100px;
    height: 800px;
    width: 1400px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #707070;
    border-radius: 8px 8px 8px 8px;
}