.fondo1{
    width: 1600px;
    position: absolute;
    height: 1200px;
    background-image: linear-gradient(#FFFFFF 0%, #E6E6E6 , #808080 );

}
.blanco{
    top: 200px;
    left: 100px;
    height: 800px;
    width: 1400px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #707070;
    border-radius: 8px ;
}
.lateral{
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
    background-color: #212020;
    position: absolute;
    border-radius: 8px;
}

.logo1{
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
    position: absolute;
}