.fondo1{
    width: 1600px;
    position: absolute;
    height: 1200px;
    background-image: linear-gradient(#FFFFFF 0%, #E6E6E6 , #808080 );

}
.blanco{
    top: 200px;
    left: 100px;
    height: 800px;
    width: 1400px;
    background-color: #FFFFFF;
    position: absolute;
    border: 1px solid #707070;
    border-radius: 8px ;
}
.lateral{
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
    background-color: #212020;
    position: absolute;
    border-radius: 8px;
}

.logo1{
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
    position: absolute;
}
.metrolinea{
    top: 32px;
    left: 350px;
    width: 700px;
    height: 1000px;
    position: absolute;
    background: transparent;
}
.compra{
    top: 240px;
    left: 800px;
    width: 230px;
    height: 41px;
    position: absolute;
    color: #000000;
    font-size: 30px;
    text-align: left;
    background: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15;
}
.subrayar{
    top: 280px;
    left: 845px;
    width: 130px;
    height: 0px;
    border: 1px solid #212020;
    position: absolute;

}

.saldo{
    top: 242px;
    left: 1072px;
    width: 132px;
    height: 41px;
    position: absolute;
    color: #000000;
    font-size: 30px;
    text-align: left;
    background: transparent;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 15;
}
.buscador{
    top: 248px;
    left: 1224px;
    width: 27px;
    height: 27px;
    background: transparent url(./../img/buscador.png) 0% 0% no-repeat padding-box;
    position: absolute;
    cursor: pointer;
}
.carrito{
    top: 248px;
    left: 1300px;
    width: 33px;
    height: 32px;
    background: transparent url(./../img/carrito.png) 0% 0% no-repeat padding-box;
    position: absolute;
    cursor: pointer;
}

.flecha1{
    top: 240px;
    left: 1425px;
    width: 40px;
    height: 20px;
    position: absolute;
    transform: rotate(-90deg);
}
.flecha1 button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 35px;
}

.flecha2{
    top: 946px;
    left: 1460px;
    width: 24px;
    height: 14px;
    position: absolute;
    transform: rotate(90deg);
}
.flecha2 button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 35px;
}

.texto1{
    top: 349px;
    left: 1409px;
    width: 84px;
    height: 27px;
    color: #FFFFFF;
    position: absolute;
    text-align: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.texto4{
    top: 500px;
    left: 1440px;
    width: 23px;
    height: 187px;
    color: #FFFFFF;
    position: absolute;
    text-align: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 40%;
}
.texto5{
    top: 600px;
    left: 1440px;
    width: 23px;
    height: 187px;
    color: #FFFFFF;
    position: absolute;
    text-align: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.texto6{
    top: 700px;
    left: 1440px;
    width: 23px;
    height: 187px;
    color: #FFFFFF;
    position: absolute;
    text-align: left;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 40%;
}
.cuadroVerde{
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    background-color: #D5FF43;
    border-radius: 8px;
    position: absolute;
}
.comprar{
    top: 917px;
    left: 1205px;
    width: 111px;
    height: 36px;
    color: #000000;
    text-align: left;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.cuadroPequeño{
    top: 876px;
    left: 1195px;
    width: 129px;
    height: 29px;
    background: url(../img/logoMetro.png);
    position: absolute;
}
.tarjeta{
    top: 861px;
    left: 158px;
    width: 716px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: left;
    font-size: 40px;
}
.precio{
    top: 924px;
    left: 157px;
    width: 139px;
    height: 37px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    text-align: left;
    font-size: 26px;
}